@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Gentium+Plus&family=Libre+Franklin&family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  margin-right: 5px;
  padding: 2px 0px;
}

.App {
  text-align: center;
}

.addTask {

}

.list {
padding: 2px 0px;
}

#taskButton {
  margin-left: 5px;
  padding: 2px 3px;
}